* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg,rgb(54, 204, 241),violet);
    overflow: hidden;
    font-family: poppins;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 100px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

#main-heading {
    font-size: 1.3rem;
}